fastapi
uvicorn[standard]
python-dotenv
sqlalchemy>=2.0
pymongo
httpx
truststore
openai
pydantic
langchain
langchain-text-splitters
chromadb
langchain-openai
langchain-chroma
python-multipart
pytest
pytest-asyncio
requests
streamlit
